.tm_layer {
    display: table;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 100%
}

.tm_maplayer {
    display: table-cell;
    width: 50%;
}

.tm_overlays {
    display: table-cell;
    width: 50%;
}

.tm_pointdetails {
    display: table;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 100%
}

.tm_pointdetails > .tm_form {
    display: table-cell;
    min-width: 350px;
    width: 350px;
}

.tm_pointdetails > .tm_preview_map {
    display: table-cell;
    width: 100%;
}

.tm_points {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 100%
}

ul#tm_layerlist, ul#tm_overlaylist, ul#tm_pointlist {
    list-style: none;
    margin:0;
    padding: 5px;
}

ul#tm_layerlist li > i:before {
    content: "\f1c5";
}

ul#tm_overlaylist li > i:before {
    content: "\f1c5";
}

ul#tm_pointlist .active {
    background-color: #ccc;
}

ul#tm_pointlist > li {
    display: table;
    width: 100%;
}

ul#tm_pointlist > li > * {
    display: table-cell;
}

ul#tm_pointlist > li > *:nth-child(1) {
    width: 40px;
}
ul#tm_pointlist > li > *:nth-child(2) {

}
ul#tm_pointlist > li > *:nth-child(3) {
    width: 200px;
}
ul#tm_pointlist > li > *:nth-child(4) {
    width: 50px;
}

ul#tm_pointlist > li.marker > i:before {
    content: "\f041";
}

ul#tm_pointlist > li.waypoint > i:before {
    content: "\f10c";
}

ul#tm_pointlist > li.startsection {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

ul#tm_pointlist > li.endsection {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

ul#tm_pointlist > li.startendsection {
    border: 1px solid #000;
}

ul#tm_pointlist > li.startsection > i:before {
    content: "\f105";
}

ul#tm_pointlist > li.endsection > i:before {
    content: "\f104";
}

ul#tm_pointlist > li.startendsection > i:before {
    content: "\f101";
}

ul#tm_pointlist > li.media > i:before {
    content: "\f030";
}

ul#tm_pointlist > li.post > i:before {
    content: "\f040";
}

.tm_form label {
    width: 130px;
    display: inline-block;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}
.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.wp_travelermap ul.ui-autocomplete {
    z-index: 100000;
    max-height: 400px;
    overflow-y: auto;
}

.tm_list {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
.tm_list_entry:hover {
    background-color: #ccc;
    cursor: pointer;
}
.tm_list_entry {
    margin: 0 !important;
    padding: 5px !important;
    list-style: none !important;
}